/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

h1, h2, h3, h4, .early-modern {
  font-family: "IM Fell English", Times, serif;
  font-weight: normal;
}

body {
  font-family: Courier, sans-serif;
}

a {
/*  color: #33CC33;*/
  color: #19a974;
  text-decoration: none;
}

img {
  width: 70%;
}

.cv {
  font-family: "Open Sans", sans-serif;
}

/*.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}*/

#cv-content, #sdfb-content, #about-content {
  overflow-y: hidden;
  max-height: 10000px;
  transition: all .5s ease;
}
#cv-content.hidden, #sdfb-content.hidden, #about-content.hidden {
	max-height: 0;
}
 #cv-heading, #sdfb-heading, #about-heading {
   cursor: pointer;
 }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts, .projects {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Open Sans, sans-serif;
  font-size: 80%;
}

.posts .title {
  font-size: 125%;
}

.micro-img {
  max-width: 400px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  max-width: 50em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post blockquote {
  margin-left: 1.35em;
  color: #aaa;
  font-size: 90%;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post img + br + em {
  display: block;
  text-align: center;
}

.footnotes {
  font-size: 75%;
}
