/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

:root {
//  --accent-color: #19a974;
//  --accent-color: #FF4136;
//  --accent-color: #357EDD;
  //--accent-color: #FFB700;
  --accent-color: #EAAA00;
  --max-width: 38em;
}

h1, h2, h3, h4, .early-modern {
  font-family: "IM Fell English", Times, serif;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

body {
  font-family: 'Bitter', Times, serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

a:focus, a:hover {
  transition: color .15s ease-in;
  color: var(--accent-color);
}

a {
  transition: opacity .15s ease-in;
  opacity: 1;
  color: black;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 2px;
}

main {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: auto;
}

p {
  margin: 1rem auto;
}

img {
  max-width: 100%;
  box-shadow: 5px 5px 8px;
  margin: auto;
  margin-bottom: 15%;
  display: block;
}

ul {
  list-style-type: none; //square outside;
}

/*****************************************************************************/
/*
/* Header and Footer
/*
/*****************************************************************************/

nav {
  border-bottom: 5px solid var(--accent-color);
  text-align: center;
  padding: 1rem 0;
}

nav a {
  font-size: 1.25rem;
  padding: 0 .5rem;
}

footer {
  overflow: auto;
  background-color: var(--accent-color);
}

footer p {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover, footer a:focus {
  transition: none;
  color: white;
}

/*****************************************************************************/
/*
/* Blog
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Open Sans, sans-serif;
  font-size: 80%;
}

.posts .title {
  font-size: 125%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post p {
  line-height: 1.5;
  max-width: 50em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post blockquote {
  margin-left: 1.35em;
  color: #aaa;
  font-size: 90%;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.post img + br + em {
  display: block;
  text-align: center;
}

.footnotes {
  font-size: 75%;
}

/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/

/*

@media screen and (max-width: 30em) {

#site-heading {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 0;
}
#nav-items {
  float: none;
  padding: .5rem;
}

#nav-items a {
  padding: 0 .5rem;
}

#footer-left, #footer-right {
  float: left;
  padding: .25rem;
}
*/
