/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

h1 { font-family: "IM Fell English", Times, serif; }

body { font-family: Courier, sans-serif;}

a {color: gray;}

img {
  width: 70%;
}

/* * {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 100% "Open Sans", sans-serif;
  font-size: 100%;
  text-align: left;
}

h3, h4, h5, h6 {
  font-size: 100%; }

h2 { font-size: 110%;}
h1 {
  font-size: 120%;
  margin-bottom: 2%;
}
p { margin: 1em 0; }

a         { color: #33CC33;
	    text-decoration: none; }
a:hover   { color: #000;
	    text-decoration: none;}

svg {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-style: dotted;
	border-width: 1px;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
} */

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts, .projects {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Open Sans, sans-serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/* .site {
  text-align: left;
  line-height: 1.5em;
}

.header a {
  font-family: "Droid Serif", serif;
  font-weight: bold;
  text-decoration: none;
}

.main {
  padding: 8% 15%;
}

img {
  max-width: 400px;
  max-height: 400px;
}

.gallery {
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  padding: 5%;
}
.gallery img {
  position: absolute;
  transition: .4s;
  max-height: 200px;
  max-width: 200px;
  clip-path: circle(50px at center);
  -webkit-clip-path: circle(50px at center);
}

.gallery img:hover {
  clip-path: none;
  -webkit-clip-path: none;
  height: auto;
  max-height: 300px;
  max-width: 300px;
  z-index: 100;
}

.title {
  font-size: 120%;
}

.title a {
  font-family: "Droid Serif", serif;
  color: white;
  padding: 5%;
}


.header {
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f3f3f3;
  list-style-type: none;
  z-index: 100;
}

.header li {
  float: left;
}

.header a {
  display: block;
  padding: 8px;
  color: #00cc66;
}

.header .page:hover {
  color: #00cc66;
  background-color: white;
}

.meta {
  color: #aaa;
}

.social {
  float: right;
  list-style-type: none;
  padding-right: 5%;
}

.social a:hover {
  background-color: inherit;
}

.dropdown-icon {
  display: none;
}

.mobile-dropdown {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: #FFF
} */
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post blockquote {
  margin-left: 1.35em;
  color: #aaa;
  font-size: 90%;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.footnotes {
  font-size: 75%;
}

/* @media only screen and (max-width: 500px) {
  .main {
    padding-top: 25%;
  }
  li.page { display: none; }
  .dropdown-icon { display: inline; }
  .dropdown:hover > .mobile-dropdown {
    display: block;
    background-color: #fff;
  }
  .mobile-dropdown li {
    width: 25%;
    float: none;
    display: list-item;
    position: relative;
  }
  .gallery {
    width: inherit;
    margin-left: inherit;
    padding: inherit;
    padding-top: 5%;
  }
  .gallery img {
    display: block;
    max-width: 150px;
  }
} */
