/* Place project-specific CSS here */
header, idg { display: none; }

[type="title_page"] p { text-align: center; }
[type="title_page"] l { text-align: center; }
[type="title_page"] q { text-align: center; }


head { padding-top: 2%; padding-bottom: 2%; }

gap:before {
	content: "?";
	color: red;
 }

hi { font-style: italic; }

signed { text-align: right; }
