<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

	<!-- Feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">

	<!-- Droid serif webfont -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>

        <div class="site">

            <ul class="header">
              <li class="title dropdown">
                <a href="/">jrladd{{ page.title | downcase | replace: ' ' , '_' | truncate: 10 }}
                  <span class="dropdown-icon"><i class="fa fa-caret-down dropdown-icon"></i></span>
                </a>
                <ul class="mobile-dropdown">
                  <li><a href="/">about</a></li>
          	    	<li><a href="/projects">projects</a></li>
          	    	<li><a href="/blog">blog</a></li>
                  <li><a href="/cv">cv</a></li>
                </ul>
              </li>
      	    	<li class="page"><a class="extra" href="/">about</a></li>
      	    	<li class="page"><a class="extra" href="/projects">projects</a></li>
      	    	<li class="page"><a class="extra" href="/blog">blog</a></li>
              <li class="page"><a class="extra" href="/cv">cv</a></li>
              <ul class='social'>
                {% if site.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.twitter_username }}">
                      <i class="fa fa-twitter"></i>
                    </a></li>
                {% endif %}
                {% if site.github_username %}
                    <li><a href="https://github.com/{{ site.github_username }}">
                      <i class="fa fa-github"></i>
                    </a></li>
                {% endif %}
                {% if site.instagram_username %}
                    <li><a href="https://instagram.com/{{ site.instagram_username }}">
                      <i class="fa fa-instagram"></i>
                    </a></li>
                {% endif %}
              </ul>
            </ul>
          <div class="main">
          {{ content }}
          </div>
        </div>

    </body>
</html>
