<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
        <link href="https://github.com/jrladd" rel="me">
        <link href="https://micro.blog/jrladd" rel="me" />

        <link rel="micropub" href="https://jrladd-micropub-to-github.herokuapp.com/micropub/main">


        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

	<!-- Feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">

  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i|Open+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    </head>
    <body class="bg-near-white dark-gray">

        <div class="site">
          {{ content }}
        </div>

    </body>
    <!-- <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script>
      $( function() {
        if (screen.width <= 500) {
          $('.dropdown').click(function () {
            $('.mobile-dropdown').slideToggle();
          });
        }
      });
    </script> -->
</html>
